@import '../../utils/function';

.block-editor__container {
  --radius: 8px;
}

// 에디터 내부
.editor-post-title .editor-post-title__block {
  margin: auto;
}
.editor-post-title__input {
  color: var(--headingColor);
}
.block-editor__typewriter {
  ul > li,
  ol > li {
    color: var(--textColor);
  }
}
